// Variables go here

// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$primary-font: 'Roboto', sans-serif;

$darkColor: #516069;
$aquaColor: #E3F5FF;
$blueColor: #4990E2;
$redColor: #EC4F40;
